.navbar-brand {
  font-weight: 600;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  background-color: #109c85
}

.navbar .navbar-brand li a {
  color: #fff;
}

.navbar .navbar-brand a:hover {
color: blue;
}
